<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<div class="container">
   <a class="navbar-brand" href="/">HỌC LẬP TRÌNH</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
      </li>
      <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <img src="https://scontent-sin6-3.xx.fbcdn.net/v/t31.18172-8/18278820_1234907063289367_7586984456508082540_o.png?_nc_cat=106&ccb=1-3&_nc_sid=cdbe9c&_nc_ohc=HNo_dICwFJsAX_MaEdl&_nc_oc=AQmTkPljKZWyUZvbeBNrbk1cI7TIJeQW-ndXIAgVEd88V-2ZGmTy3QCE2emMQ0ICpzFt0Gyir_J3JLu56x53plCo&_nc_ht=scontent-sin6-3.xx&oh=136de1a8d4388f13d6b79999078cd219&oe=609E0D5A" alt="" class="user-name">
    Hung Nguyen
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="courses/create">Đăng khóa học</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="/me/stored/courses">Khóa học của tôi</a>
    <a class="dropdown-item" href="#">Bài đăng của tôi</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Đăng xuất</a>
  </div>
</div>
    </ul>
  </div>
</div>
</nav>